In [2]:
import xlwings as xw
import pandas as pd
import numpy as np
from datetime import (
    datetime as dt,
)
from openpyxl.utils import (
    get_column_letter as gcl,
)

## Automating Book Selections from Open Books

#### Demonstrative DT Function

In [169]:
dt.strptime('2019 January', '%Y %B') > dt.strptime('2019 December', '%Y %B')

False

In [170]:
afv_books = list(b.name for b in xw.books if 'US Alt-Fuel' in b.name)

In [171]:
afv_books

['US Alt-Fuel Sales History To Date 2019 December.xlsx',
 'US Alt-Fuel Sales History To Date 2019 November.xlsx']

#### last two words from book name minus '.xlsx' sliced out

In [172]:
book_dates = list(b[:-5].split()[-2:] for b in afv_books)
book_dates

[['2019', 'December'], ['2019', 'November']]

#### Flattened list object

In [173]:
book_dates = [' '.join(bd) for bd in book_dates]
book_dates

['2019 December', '2019 November']

#### DT.strptime, tupled with string then sorted from small to large

In [174]:
bookDT = [(dt.strptime(bd, '%Y %B').date(), bd) for bd in book_dates]
bookDT.sort()
bookDT

[(datetime.date(2019, 11, 1), '2019 November'),
 (datetime.date(2019, 12, 1), '2019 December')]

In [175]:
o = bookDT[0][1]
n = bookDT[1][1]

In [176]:
o

'2019 November'

In [177]:
n

'2019 December'

In [178]:
old = xw.books[[b for b in afv_books if o in b][0]]
new = xw.books[[b for b in afv_books if n in b][0]]

### Two Book Objects Created

In [179]:
old.name

'US Alt-Fuel Sales History To Date 2019 November.xlsx'

In [180]:
new.name

'US Alt-Fuel Sales History To Date 2019 December.xlsx'

### Slicing out Sheets

In [181]:
list(enumerate(s.name for s in old.sheets))

[(0, 'Fuel Cell Vehicles'),
 (1, 'Hybrid Vehicles'),
 (2, 'Plug-in Hybrid'),
 (3, 'Electric Vehicles'),
 (4, 'Annual Totals'),
 (5, 'Charting'),
 (6, 'PPR Charting'),
 (7, 'Monthly Sales (+ Registrations)'),
 (8, 'Monthly Sales Recap'),
 (9, 'Sales v Obj')]

In [182]:
list(enumerate(s.name for s in new.sheets))

[(0, 'Fuel Cell Vehicles'),
 (1, 'Hybrid Vehicles'),
 (2, 'Plug-in Hybrid'),
 (3, 'Electric Vehicles'),
 (4, 'Annual Totals'),
 (5, 'Charting'),
 (6, 'PPR Charting'),
 (7, 'Monthly Sales (+ Registrations)'),
 (8, 'Monthly Sales Recap'),
 (9, 'Sales v Obj')]

In [183]:
fcv_o = old.sheets['Fuel Cell Vehicles']
hev_o = old.sheets['Hybrid Vehicles']
phev_o = old.sheets['Plug-in Hybrid']
bev_o = old.sheets['Electric Vehicles']
all_o = old.sheets['Annual Totals']

In [184]:
fcv_n = new.sheets['Fuel Cell Vehicles']
hev_n = new.sheets['Hybrid Vehicles']
phev_n = new.sheets['Plug-in Hybrid']
bev_n = new.sheets['Electric Vehicles']
all_n = new.sheets['Annual Totals']

## Comparing DataFrames

In [185]:
old_df = pd.DataFrame(all_o['A4:ZA4'].value, columns=['old4'])
old_df['old_col'] = old_df.index + 1
old_df['old_col'] = old_df['old_col'].apply(lambda x: col_letter(x))
old_df

                       old4 old_col
0                      Year       A
1            Industry Sales       B
2    Alt-Fuel Vehicle Sales       C
3                        CA       D
4                        NE       E
..                      ...     ...
672                    None      YW
673                    None      YX
674                    None      YY
675                    None      YZ
676                    None      ZA

[677 rows x 2 columns]

In [186]:
new_df = pd.DataFrame(all_n['A4:ZA4'].value, columns=['new4'])
new_df['new_col'] = new_df.index + 1
new_df['new_col'] = new_df['new_col'].apply(lambda x: col_letter(x))
new_df

                       new4 new_col
0                      Year       A
1            Industry Sales       B
2    Alt-Fuel Vehicle Sales       C
3                        CA       D
4                        NE       E
..                      ...     ...
672                    None      YW
673                    None      YX
674                    None      YY
675                    None      YZ
676                    None      ZA

[677 rows x 2 columns]

In [187]:
joined = pd.concat([old_df, new_df], axis=1)
joined.drop_duplicates()
joined

                       old4 old_col                    new4 new_col
0                      Year       A                    Year       A
1            Industry Sales       B          Industry Sales       B
2    Alt-Fuel Vehicle Sales       C  Alt-Fuel Vehicle Sales       C
3                        CA       D                      CA       D
4                        NE       E                      NE       E
..                      ...     ...                     ...     ...
672                    None      YW                    None      YW
673                    None      YX                    None      YX
674                    None      YY                    None      YY
675                    None      YZ                    None      YZ
676                    None      ZA                    None      ZA

[677 rows x 4 columns]

In [194]:
joined[joined['old4'] == joined['new4']]

                       old4 old_col                    new4 new_col
0                      Year       A                    Year       A
1            Industry Sales       B          Industry Sales       B
2    Alt-Fuel Vehicle Sales       C  Alt-Fuel Vehicle Sales       C
3                        CA       D                      CA       D
4                        NE       E                      NE       E
..                      ...     ...                     ...     ...
101        Acura ILX Hybrid      CX        Acura ILX Hybrid      CX
102        Acura RLX Hybrid      CY        Acura RLX Hybrid      CY
103        Acura MDX Hybrid      CZ        Acura MDX Hybrid      CZ
104       Ford C-Max Hybrid      DA       Ford C-Max Hybrid      DA
105      Ford Escape Hybrid      DB      Ford Escape Hybrid      DB

[102 rows x 4 columns]

In [213]:
joined[(joined['old4'] != joined['new4']) & (joined['new4'].notna())]

                       old4 old_col                     new4 new_col
106  Mercury Mariner Hybrid      DC            Ford Explorer      DC
107   Mercury Milan Hybrid*      DD   Mercury Mariner Hybrid      DD
108      Ford Fusion Hybrid      DE    Mercury Milan Hybrid*      DE
109   Mazda Tribute Hybrid*      DF       Ford Fusion Hybrid      DF
110      Lincoln MKZ Hybrid      DG    Mazda Tribute Hybrid*      DG
..                      ...     ...                      ...     ...
259                    None      IZ         Volvo  AFV Share      IZ
260                    None      JA  Fiat-Chrysler AFV Share      JA
261                    None      JB     Mitsubishi AFV Share      JB
262                    None      JC         Jaguar AFV Share      JC
263                    None      JD         Tesla  AFV Share      JD

[135 rows x 4 columns]

In [209]:
joined[joined['new4'] == None]

Empty DataFrame
Columns: [old4, old_col, new4, new_col]
Index: []

In [59]:
from_new = list(zip(list(new_df[0]), list(new_df['Col'])))
from_new

[('Year', 1),
 ('Industry Sales', 2),
 ('Alt-Fuel Vehicle Sales', 3),
 ('CA', 4),
 ('NE', 5),
 ('Fleet (Reference)', 6),
 ('Total US', 7),
 ('Honda Clarity FCV', 8),
 ('Hyundai Tucson FCV', 9),
 ('Hyundai Nexo', 10),
 (None, 11),
 (None, 12),
 (None, 13),
 (None, 14),
 ('Toyota Mirai', 15),
 ('Honda Clarity', 16),
 ('Hyundai Tucson', 17),
 ('Non-Fleet', 18),
 ('Fleet', 19),
 ('Total US (no Hawaii)', 20),
 ('Hawaii', 21),
 ('Total US Prius', 22),
 ('Non-Fleet', 23),
 ('Fleet', 24),
 ('Total US (no Hawaii)', 25),
 ('Hawaii', 26),
 ('Total US Prius v', 27),
 ('Non-Fleet', 28),
 ('Fleet', 29),
 ('Total US (no Hawaii)', 30),
 ('Hawaii', 31),
 ('Total US Prius c', 32),
 ('Non-Fleet', 33),
 ('Fleet', 34),
 ('Total US (no Hawaii)', 35),
 ('Hawaii', 36),
 ('Total US Prius Family', 37),
 ('Non-Fleet', 38),
 ('Fleet', 39),
 ('Total US (no Hawaii)', 40),
 ('Total US Avalon Hybrid', 41),
 ('Non-Fleet', 42),
 ('Fleet', 43),
 ('Total US (no Hawaii)', 44),
 ('Total US Camry Hybrid', 45),
 ('Non-Fleet', 46),
 ('Fleet', 47),
 ('Total US (no Hawaii)', 48),
 ('Total US Corolla Hybrid', 49),
 ('Non-Fleet', 50),
 ('Fleet', 51),
 ('Total US (no Hawaii)', 52),
 ('Total US Rav4 Hybrid', 53),
 ('Non-Fleet', 54),
 ('Fleet', 55),
 ('Total US (no Hawaii)', 56),
 ('Total US Highlander Hybrid', 57),
 ('Non-Fleet', 58),
 ('Fleet', 59),
 ('Total US (no Hawaii)', 60),
 ('Total US ES Hybrid', 61),
 ('Non-Fleet', 62),
 ('Fleet', 63),
 ('Total US (no Hawaii)', 64),
 ('Total US RX Hybrid', 65),
 ('Non-Fleet', 66),
 ('Fleet', 67),
 ('Total US (no Hawaii)', 68),
 ('Total US RX Hybrid', 69),
 ('Non-Fleet', 70),
 ('Fleet', 71),
 ('Total US (no Hawaii)', 72),
 ('Total US GS450h Hybrid', 73),
 ('Non-Fleet', 74),
 ('Fleet', 75),
 ('Total US (no Hawaii)', 76),
 ('Total US LS600h Hybrid', 77),
 ('Non-Fleet', 78),
 ('Fleet', 79),
 ('Total US (no Hawaii)', 80),
 ('Total US HS250h Hybrid', 81),
 ('Non-Fleet', 82),
 ('Fleet', 83),
 ('Total US (no Hawaii)', 84),
 ('Total US CT200h Hybrid', 85),
 ('Non-Fleet', 86),
 ('Fleet', 87),
 ('Total US (no Hawaii)', 88),
 ('Total US LC Hybrid', 89),
 ('Non-Fleet', 90),
 ('Fleet', 91),
 ('Total US (no Hawaii)', 92),
 ('Total US NX300h Hybrid', 93),
 ('Non-Fleet', 94),
 ('Fleet', 95),
 ('Total US (no Hawaii)', 96),
 ('Total US UX Hybrid', 97),
 ('Honda Civic Hybrid', 98),
 ('Honda Accord Hybrid', 99),
 ('Honda Insight', 100),
 ('Honda CR-Z', 101),
 ('Acura ILX Hybrid', 102),
 ('Acura RLX Hybrid', 103),
 ('Acura MDX Hybrid', 104),
 ('Ford C-Max Hybrid', 105),
 ('Ford Escape Hybrid', 106),
 ('Ford Explorer', 107),
 ('Mercury Mariner Hybrid', 108),
 ('Mercury Milan Hybrid*', 109),
 ('Ford Fusion Hybrid', 110),
 ('Mazda Tribute Hybrid*', 111),
 ('Lincoln MKZ Hybrid', 112),
 ('Saturn Vue Hybrid', 113),
 ('Saturn Aura Hybrid**', 114),
 ('Buick LaCrosse Hybrid', 115),
 ('Buick Regal Hybrid', 116),
 ('Chevy Impala Hybrid', 117),
 ('Chevy Tahoe Hybrid*', 118),
 ('Chevy Malibu Hybrid/Eco', 119),
 ('GMC Sierra Hybrid*', 120),
 ('Chevy Silverado Hybrid*', 121),
 ('GMC Yukon Hybrid*', 122),
 ('Cadillac Escalade Hybrid*', 123),
 ('Dodge Durango Hybrid*', 124),
 ('Nissan Altima Hybrid', 125),
 ('Infiniti Q70 Hybrid (formerly M)', 126),
 ('Infiniti Q50 Hybrid', 127),
 ('Infiniti QX60 Hybrid', 128),
 ('Nissan Pathfinder Hybrid', 129),
 ('Nissan Rogue', 130),
 ('MB S-Class Hybrid', 131),
 ('MB E-Class Hybrid', 132),
 ('MB ML Hybrid', 133),
 ('BMW X6 Hybrid', 134),
 ('BMW Active Hybrid 3', 135),
 ('Audi Q5 Hybrid', 136),
 ('Porsche Cayenne Hybrid', 137),
 ('VW Jetta Hybrid', 138),
 ('VW Touareg Hybrid', 139),
 ('Hyundai Sonata Hybrid', 140),
 ('Hyundai Ioniq Hybrid', 141),
 ('KIA Optima Hybrid', 142),
 ('Kia Niro', 143),
 (None, 144),
 (None, 145),
 (None, 146),
 (None, 147),
 (None, 148),
 (None, 149),
 (None, 150),
 (None, 151),
 (None, 152),
 (None, 153),
 (None, 154),
 (None, 155),
 (None, 156),
 (None, 157),
 ('Honda Accord Plug-in Hybrid', 158),
 ('Honda Clarity Plug-in Hybrid', 159),
 ('Ford C-Max Energi', 160),
 ('Ford Fusion Energi', 161),
 ('Lincoln Aviator PHEV', 162),
 ('Chevy Volt Plug-in Hybrid', 163),
 ('Cadillac CT6 Plug-in Hybrid', 164),
 ('Cadillac ELR', 165),
 ('MB C350e Plug-in Hybrid', 166),
 ('MB GLE 550 Plug-in Hybrid', 167),
 ('MB GLC 350e Plug In', 168),
 ('MB S550e Plug-in Hybrid', 169),
 ('BMW 330e Plug In Hybrid', 170),
 ('BMW i8 Hybrid', 171),
 ('BMW X5 XDrive40E', 172),
 ('Mini Countryman Hybrid', 173),
 ('BMW 530e Plug-in Hybrid', 174),
 ('BMW 740 Series Hybrid', 175),
 ('Porsche Panamera Hybrid/S E-Hybrid', 176),
 ('Audi A3', 177),
 ('Porsche Cayenne SE', 178),
 ('Porsche 918 Plug-in', 179),
 ('Hyundai Ioniq PHEV', 180),
 ('Hyundai Sonata Plug-In Hybrid', 181),
 ('KIA Optima Plug-in Hybrid', 182),
 ('Kia Niro Plug-in', 183),
 ('Volvo XC90 Hybrid', 184),
 ('Volvo XC60 PHEV', 185),
 ('Volvo V60 PHEV', 186),
 ('Volvo S60 PHEV', 187),
 ('Volvo S90 PHEV', 188),
 ('Mitsubishi Outlander Plug-in', 189),
 ('Chrysler Pacifica', 190),
 ('Subaru Crosstrek', 191),
 ('Land Rover Range Rover PHEV', 192),
 ('Land Rover Range Rover Sport PHEV', 193),
 (None, 194),
 (None, 195),
 (None, 196),
 (None, 197),
 (None, 198),
 ('Rav4 EV', 199),
 ('Honda Fit EV', 200),
 ('Honda Clarity EV', 201),
 ('MB B-Class Hybrid B250 e', 202),
 ('Smart Electric Drive', 203),
 ('BMW i3', 204),
 ('Chevy Bolt EV', 205),
 ('Chevy Spark EV', 206),
 ('Ford Focus Electric', 207),
 ('Nissan Leaf', 208),
 ('Mitsubishi i', 209),
 ('Fiat 500e\n(estimated)', 210),
 ('Kia Soul EV', 211),
 ('Kia Niro EV', 212),
 ('Hyundai Kona', 213),
 ('Hyundai Ioniq E', 214),
 ('VW e-Golf', 215),
 ('Audi E-Tron', 216),
 ('Jaguar I-Pace', 217),
 ('Tesla Model S \n(estimated)', 218),
 ('Tesla Model 3 (estimated)', 219),
 ('Tesla Model X (estimated)', 220),
 (None, 221),
 (None, 222),
 (None, 223),
 (None, 224),
 ('All Alt Fuel Vehicles Sales', 225),
 ('Toyota AFV Total', 226),
 ('Toyota AVF Share of all AFV Sales', 227),
 ('Toyota AFV Share of Industry Sales', 228),
 ('Lexus AFV Total', 229),
 ('Lexus AFV Share', 230),
 ('Toyota + Lexus AFV Total', 231),
 ('Toyota + Lexus Share', 232),
 ('Toyota Combined Alt-Fuel Sales', 233),
 ('Lexus Combined Alt-Fuel Sales', 234),
 ('Honda Combined Alt-Fuel Sales', 235),
 ('Hyundai Combined Alt-Fuel Sales', 236),
 ('Ford Combined Alt-Fuel Sales', 237),
 ('GM Combined Alt-Fuel Sales', 238),
 ('Nissan Combined Alt-Fuel Sales', 239),
 ('MB Combined Alt-Fuel Sales', 240),
 ('BMW Combined Alt-Fuel Sales', 241),
 ('VW Combined Alt-Fuel Sales', 242),
 ('Subaru Combined Alt-Fuel Sales', 243),
 ('Volvo Combined Alt-Fuel Sales', 244),
 ('Fiat Chrysler Combined Alt-Fuel Sales', 245),
 ('Mitsubishi Combined Alt-Fuel Sales', 246),
 ('Jaguar Combined Alt-Fuel Sales', 247),
 ('Tesla Combined Alt-Fuel Sales', 248),
 ('Toyota AFV Share', 249),
 ('Lexus  AFV Share', 250),
 ('Honda  AFV Share', 251),
 ('Hyundai  AFV Share', 252),
 ('Ford  AFV Share', 253),
 ('GM  AFV Share', 254),
 ('Nissan  AFV Share', 255),
 ('MB  AFV Share', 256),
 ('BMW  AFV Share', 257),
 ('VW  AFV Share', 258),
 ('Subaru  AFV Share', 259),
 ('Volvo  AFV Share', 260),
 ('Fiat-Chrysler AFV Share', 261),
 ('Mitsubishi AFV Share', 262),
 ('Jaguar AFV Share', 263),
 ('Tesla  AFV Share', 264),
 (None, 265),
 (None, 266),
 (None, 267),
 (None, 268),
 (None, 269),
 (None, 270),
 (None, 271),
 (None, 272),
 (None, 273),
 (None, 274),
 (None, 275),
 (None, 276),
 (None, 277),
 (None, 278),
 (None, 279),
 (None, 280),
 (None, 281),
 (None, 282),
 (None, 283),
 (None, 284),
 (None, 285),
 (None, 286),
 (None, 287),
 (None, 288),
 (None, 289),
 (None, 290),
 (None, 291),
 (None, 292),
 (None, 293),
 (None, 294),
 (None, 295),
 (None, 296),
 (None, 297),
 (None, 298),
 (None, 299),
 (None, 300),
 (None, 301),
 (None, 302),
 (None, 303),
 (None, 304),
 (None, 305),
 (None, 306),
 (None, 307),
 (None, 308),
 (None, 309),
 (None, 310),
 (None, 311),
 (None, 312),
 (None, 313),
 (None, 314),
 (None, 315),
 (None, 316),
 (None, 317),
 (None, 318),
 (None, 319),
 (None, 320),
 (None, 321),
 (None, 322),
 (None, 323),
 (None, 324),
 (None, 325),
 (None, 326),
 (None, 327),
 (None, 328),
 (None, 329),
 (None, 330),
 (None, 331),
 (None, 332),
 (None, 333),
 (None, 334),
 (None, 335),
 (None, 336),
 (None, 337),
 (None, 338),
 (None, 339),
 (None, 340),
 (None, 341),
 (None, 342),
 (None, 343),
 (None, 344),
 (None, 345),
 (None, 346),
 (None, 347),
 (None, 348),
 (None, 349),
 (None, 350),
 (None, 351),
 (None, 352),
 (None, 353),
 (None, 354),
 (None, 355),
 (None, 356),
 (None, 357),
 (None, 358),
 (None, 359),
 (None, 360),
 (None, 361),
 (None, 362),
 (None, 363),
 (None, 364),
 (None, 365),
 (None, 366),
 (None, 367),
 (None, 368),
 (None, 369),
 (None, 370),
 (None, 371),
 (None, 372),
 (None, 373),
 (None, 374),
 (None, 375),
 (None, 376),
 (None, 377),
 (None, 378),
 (None, 379),
 (None, 380),
 (None, 381),
 (None, 382),
 (None, 383),
 (None, 384),
 (None, 385),
 (None, 386),
 (None, 387),
 (None, 388),
 (None, 389),
 (None, 390),
 (None, 391),
 (None, 392),
 (None, 393),
 (None, 394),
 (None, 395),
 (None, 396),
 (None, 397),
 (None, 398),
 (None, 399),
 (None, 400),
 (None, 401),
 (None, 402),
 (None, 403),
 (None, 404),
 (None, 405),
 (None, 406),
 (None, 407),
 (None, 408),
 (None, 409),
 (None, 410),
 (None, 411),
 (None, 412),
 (None, 413),
 (None, 414),
 (None, 415),
 (None, 416),
 (None, 417),
 (None, 418),
 (None, 419),
 (None, 420),
 (None, 421),
 (None, 422),
 (None, 423),
 (None, 424),
 (None, 425),
 (None, 426),
 (None, 427),
 (None, 428),
 (None, 429),
 (None, 430),
 (None, 431),
 (None, 432),
 (None, 433),
 (None, 434),
 (None, 435),
 (None, 436),
 (None, 437),
 (None, 438),
 (None, 439),
 (None, 440),
 (None, 441),
 (None, 442),
 (None, 443),
 (None, 444),
 (None, 445),
 (None, 446),
 (None, 447),
 (None, 448),
 (None, 449),
 (None, 450),
 (None, 451),
 (None, 452),
 (None, 453),
 (None, 454),
 (None, 455),
 (None, 456),
 (None, 457),
 (None, 458),
 (None, 459),
 (None, 460),
 (None, 461),
 (None, 462),
 (None, 463),
 (None, 464),
 (None, 465),
 (None, 466),
 (None, 467),
 (None, 468),
 (None, 469),
 (None, 470),
 (None, 471),
 (None, 472),
 (None, 473),
 (None, 474),
 (None, 475),
 (None, 476),
 (None, 477),
 (None, 478),
 (None, 479),
 (None, 480),
 (None, 481),
 (None, 482),
 (None, 483),
 (None, 484),
 (None, 485),
 (None, 486),
 (None, 487),
 (None, 488),
 (None, 489),
 (None, 490),
 (None, 491),
 (None, 492),
 (None, 493),
 (None, 494),
 (None, 495),
 (None, 496),
 (None, 497),
 (None, 498),
 (None, 499),
 (None, 500),
 (None, 501),
 (None, 502),
 (None, 503),
 (None, 504),
 (None, 505),
 (None, 506),
 (None, 507),
 (None, 508),
 (None, 509),
 (None, 510),
 (None, 511),
 (None, 512),
 (None, 513),
 (None, 514),
 (None, 515),
 (None, 516),
 (None, 517),
 (None, 518),
 (None, 519),
 (None, 520),
 (None, 521),
 (None, 522),
 (None, 523),
 (None, 524),
 (None, 525),
 (None, 526),
 (None, 527),
 (None, 528),
 (None, 529),
 (None, 530),
 (None, 531),
 (None, 532),
 (None, 533),
 (None, 534),
 (None, 535),
 (None, 536),
 (None, 537),
 (None, 538),
 (None, 539),
 (None, 540),
 (None, 541),
 (None, 542),
 (None, 543),
 (None, 544),
 (None, 545),
 (None, 546),
 (None, 547),
 (None, 548),
 (None, 549),
 (None, 550),
 (None, 551),
 (None, 552),
 (None, 553),
 (None, 554),
 (None, 555),
 (None, 556),
 (None, 557),
 (None, 558),
 (None, 559),
 (None, 560),
 (None, 561),
 (None, 562),
 (None, 563),
 (None, 564),
 (None, 565),
 (None, 566),
 (None, 567),
 (None, 568),
 (None, 569),
 (None, 570),
 (None, 571),
 (None, 572),
 (None, 573),
 (None, 574),
 (None, 575),
 (None, 576),
 (None, 577),
 (None, 578),
 (None, 579),
 (None, 580),
 (None, 581),
 (None, 582),
 (None, 583),
 (None, 584),
 (None, 585),
 (None, 586),
 (None, 587),
 (None, 588),
 (None, 589),
 (None, 590),
 (None, 591),
 (None, 592),
 (None, 593),
 (None, 594),
 (None, 595),
 (None, 596),
 (None, 597),
 (None, 598),
 (None, 599),
 (None, 600),
 (None, 601),
 (None, 602),
 (None, 603),
 (None, 604),
 (None, 605),
 (None, 606),
 (None, 607),
 (None, 608),
 (None, 609),
 (None, 610),
 (None, 611),
 (None, 612),
 (None, 613),
 (None, 614),
 (None, 615),
 (None, 616),
 (None, 617),
 (None, 618),
 (None, 619),
 (None, 620),
 (None, 621),
 (None, 622),
 (None, 623),
 (None, 624),
 (None, 625),
 (None, 626),
 (None, 627),
 (None, 628),
 (None, 629),
 (None, 630),
 (None, 631),
 (None, 632),
 (None, 633),
 (None, 634),
 (None, 635),
 (None, 636),
 (None, 637),
 (None, 638),
 (None, 639),
 (None, 640),
 (None, 641),
 (None, 642),
 (None, 643),
 (None, 644),
 (None, 645),
 (None, 646),
 (None, 647),
 (None, 648),
 (None, 649),
 (None, 650),
 (None, 651),
 (None, 652),
 (None, 653),
 (None, 654),
 (None, 655),
 (None, 656),
 (None, 657),
 (None, 658),
 (None, 659),
 (None, 660),
 (None, 661),
 (None, 662),
 (None, 663),
 (None, 664),
 (None, 665),
 (None, 666),
 (None, 667),
 (None, 668),
 (None, 669),
 (None, 670),
 (None, 671),
 (None, 672),
 (None, 673),
 (None, 674),
 (None, 675),
 (None, 676),
 (None, 677)]

In [60]:
from_old = list(zip(list(old_df[0]), list(old_df['Col'])))
from_old

[('Year', 1),
 ('Industry Sales', 2),
 ('Alt-Fuel Vehicle Sales', 3),
 ('CA', 4),
 ('NE', 5),
 ('Fleet (Reference)', 6),
 ('Total US', 7),
 ('Honda Clarity FCV', 8),
 ('Hyundai Tucson FCV', 9),
 ('Hyundai Nexo', 10),
 (None, 11),
 (None, 12),
 (None, 13),
 (None, 14),
 ('Toyota Mirai', 15),
 ('Honda Clarity', 16),
 ('Hyundai Tucson', 17),
 ('Non-Fleet', 18),
 ('Fleet', 19),
 ('Total US (no Hawaii)', 20),
 ('Hawaii', 21),
 ('Total US Prius', 22),
 ('Non-Fleet', 23),
 ('Fleet', 24),
 ('Total US (no Hawaii)', 25),
 ('Hawaii', 26),
 ('Total US Prius v', 27),
 ('Non-Fleet', 28),
 ('Fleet', 29),
 ('Total US (no Hawaii)', 30),
 ('Hawaii', 31),
 ('Total US Prius c', 32),
 ('Non-Fleet', 33),
 ('Fleet', 34),
 ('Total US (no Hawaii)', 35),
 ('Hawaii', 36),
 ('Total US Prius Family', 37),
 ('Non-Fleet', 38),
 ('Fleet', 39),
 ('Total US (no Hawaii)', 40),
 ('Total US Avalon Hybrid', 41),
 ('Non-Fleet', 42),
 ('Fleet', 43),
 ('Total US (no Hawaii)', 44),
 ('Total US Camry Hybrid', 45),
 ('Non-Fleet', 46),
 ('Fleet', 47),
 ('Total US (no Hawaii)', 48),
 ('Total US Corolla Hybrid', 49),
 ('Non-Fleet', 50),
 ('Fleet', 51),
 ('Total US (no Hawaii)', 52),
 ('Total US Rav4 Hybrid', 53),
 ('Non-Fleet', 54),
 ('Fleet', 55),
 ('Total US (no Hawaii)', 56),
 ('Total US Highlander Hybrid', 57),
 ('Non-Fleet', 58),
 ('Fleet', 59),
 ('Total US (no Hawaii)', 60),
 ('Total US ES Hybrid', 61),
 ('Non-Fleet', 62),
 ('Fleet', 63),
 ('Total US (no Hawaii)', 64),
 ('Total US RX Hybrid', 65),
 ('Non-Fleet', 66),
 ('Fleet', 67),
 ('Total US (no Hawaii)', 68),
 ('Total US RX Hybrid', 69),
 ('Non-Fleet', 70),
 ('Fleet', 71),
 ('Total US (no Hawaii)', 72),
 ('Total US GS450h Hybrid', 73),
 ('Non-Fleet', 74),
 ('Fleet', 75),
 ('Total US (no Hawaii)', 76),
 ('Total US LS600h Hybrid', 77),
 ('Non-Fleet', 78),
 ('Fleet', 79),
 ('Total US (no Hawaii)', 80),
 ('Total US HS250h Hybrid', 81),
 ('Non-Fleet', 82),
 ('Fleet', 83),
 ('Total US (no Hawaii)', 84),
 ('Total US CT200h Hybrid', 85),
 ('Non-Fleet', 86),
 ('Fleet', 87),
 ('Total US (no Hawaii)', 88),
 ('Total US LC Hybrid', 89),
 ('Non-Fleet', 90),
 ('Fleet', 91),
 ('Total US (no Hawaii)', 92),
 ('Total US NX300h Hybrid', 93),
 ('Non-Fleet', 94),
 ('Fleet', 95),
 ('Total US (no Hawaii)', 96),
 ('Total US UX Hybrid', 97),
 ('Honda Civic Hybrid', 98),
 ('Honda Accord Hybrid', 99),
 ('Honda Insight', 100),
 ('Honda CR-Z', 101),
 ('Acura ILX Hybrid', 102),
 ('Acura RLX Hybrid', 103),
 ('Acura MDX Hybrid', 104),
 ('Ford C-Max Hybrid', 105),
 ('Ford Escape Hybrid', 106),
 ('Mercury Mariner Hybrid', 107),
 ('Mercury Milan Hybrid*', 108),
 ('Ford Fusion Hybrid', 109),
 ('Mazda Tribute Hybrid*', 110),
 ('Lincoln MKZ Hybrid', 111),
 ('Saturn Vue Hybrid', 112),
 ('Saturn Aura Hybrid**', 113),
 ('Buick LaCrosse Hybrid', 114),
 ('Buick Regal Hybrid', 115),
 ('Chevy Impala Hybrid', 116),
 ('Chevy Tahoe Hybrid*', 117),
 ('Chevy Malibu Hybrid/Eco', 118),
 ('GMC Sierra Hybrid*', 119),
 ('Chevy Silverado Hybrid*', 120),
 ('GMC Yukon Hybrid*', 121),
 ('Cadillac Escalade Hybrid*', 122),
 ('Dodge Durango Hybrid*', 123),
 ('Nissan Altima Hybrid', 124),
 ('Infiniti Q70 Hybrid (formerly M)', 125),
 ('Infiniti Q50 Hybrid', 126),
 ('Infiniti QX60 Hybrid', 127),
 ('Nissan Pathfinder Hybrid', 128),
 ('Nissan Rogue', 129),
 ('MB S-Class Hybrid', 130),
 ('MB E-Class Hybrid', 131),
 ('MB ML Hybrid', 132),
 ('BMW X6 Hybrid', 133),
 ('BMW Active Hybrid 3', 134),
 ('Audi Q5 Hybrid', 135),
 ('Porsche Cayenne Hybrid', 136),
 ('VW Jetta Hybrid', 137),
 ('VW Touareg Hybrid', 138),
 ('Hyundai Sonata Hybrid', 139),
 ('Hyundai Ioniq Hybrid', 140),
 ('KIA Optima Hybrid', 141),
 ('Kia Niro', 142),
 (None, 143),
 (None, 144),
 (None, 145),
 (None, 146),
 (None, 147),
 (None, 148),
 (None, 149),
 (None, 150),
 (None, 151),
 (None, 152),
 (None, 153),
 (None, 154),
 (None, 155),
 (None, 156),
 ('Honda Accord Plug-in Hybrid', 157),
 ('Honda Clarity Plug-in Hybrid', 158),
 ('Ford C-Max Energi', 159),
 ('Ford Fusion Energi', 160),
 ('Chevy Volt Plug-in Hybrid', 161),
 ('Cadillac CT6 Plug-in Hybrid', 162),
 ('Cadillac ELR', 163),
 ('MB C350e Plug-in Hybrid', 164),
 ('MB GLE 550 Plug-in Hybrid', 165),
 ('MB GLC 350e Plug In', 166),
 ('MB S550e Plug-in Hybrid', 167),
 ('BMW 330e Plug In Hybrid', 168),
 ('BMW i8 Hybrid', 169),
 ('BMW X5 XDrive40E', 170),
 ('Mini Countryman Hybrid', 171),
 ('BMW 530e Plug-in Hybrid', 172),
 ('BMW 740 Series Hybrid', 173),
 ('Porsche Panamera Hybrid/S E-Hybrid', 174),
 ('Audi A3', 175),
 ('Porsche Cayenne SE', 176),
 ('Porsche 918 Plug-in', 177),
 ('Hyundai Ioniq PHEV', 178),
 ('Hyundai Sonata Plug-In Hybrid', 179),
 ('KIA Optima Plug-in Hybrid', 180),
 ('Kia Niro Plug-in', 181),
 ('Volvo XC90 Hybrid', 182),
 ('Volvo XC60 PHEV', 183),
 ('Volvo V60 PHEV', 184),
 ('Volvo S60 PHEV', 185),
 ('Volvo S90 PHEV', 186),
 ('Mitsubishi Outlander Plug-in', 187),
 ('Chrysler Pacifica', 188),
 (None, 189),
 (None, 190),
 (None, 191),
 (None, 192),
 (None, 193),
 ('Rav4 EV', 194),
 ('Honda Fit EV', 195),
 ('Honda Clarity EV', 196),
 ('MB B-Class Hybrid B250 e', 197),
 ('Smart Electric Drive', 198),
 ('BMW i3', 199),
 ('Chevy Bolt EV', 200),
 ('Chevy Spark EV', 201),
 ('Ford Focus Electric', 202),
 ('Nissan Leaf', 203),
 ('Mitsubishi i', 204),
 ('Fiat 500e\n(estimated)', 205),
 ('Kia Soul EV', 206),
 ('Kia Niro EV', 207),
 ('Hyundai Kona', 208),
 ('Hyundai Ioniq E', 209),
 ('VW e-Golf', 210),
 ('Audi E-Tron', 211),
 ('Jaguar I-Pace', 212),
 ('Tesla Model S \n(estimated)', 213),
 ('Tesla Model 3 (estimated)', 214),
 ('Tesla Model X (estimated)', 215),
 (None, 216),
 (None, 217),
 (None, 218),
 (None, 219),
 ('All Alt Fuel Vehicles Sales', 220),
 ('Toyota AFV Total', 221),
 ('Toyota AVF Share of all AFV Sales', 222),
 ('Toyota AFV Share of Industry Sales', 223),
 ('Lexus AFV Total', 224),
 ('Lexus AFV Share', 225),
 ('Toyota + Lexus AFV Total', 226),
 ('Toyota + Lexus Share', 227),
 ('Toyota Combined Alt-Fuel Sales', 228),
 ('Lexus Combined Alt-Fuel Sales', 229),
 ('Honda Combined Alt-Fuel Sales', 230),
 ('Hyundai Combined Alt-Fuel Sales', 231),
 ('Ford Combined Alt-Fuel Sales', 232),
 ('GM Combined Alt-Fuel Sales', 233),
 ('Nissan Combined Alt-Fuel Sales', 234),
 ('MB Combined Alt-Fuel Sales', 235),
 ('BMW Combined Alt-Fuel Sales', 236),
 ('VW Combined Alt-Fuel Sales', 237),
 ('Subaru Combined Alt-Fuel Sales', 238),
 ('Volvo Combined Alt-Fuel Sales', 239),
 ('Fiat Chrysler Combined Alt-Fuel Sales', 240),
 ('Mitsubishi Combined Alt-Fuel Sales', 241),
 ('Jaguar Combined Alt-Fuel Sales', 242),
 ('Tesla Combined Alt-Fuel Sales', 243),
 ('Toyota AFV Share', 244),
 ('Lexus  AFV Share', 245),
 ('Honda  AFV Share', 246),
 ('Hyundai  AFV Share', 247),
 ('Ford  AFV Share', 248),
 ('GM  AFV Share', 249),
 ('Nissan  AFV Share', 250),
 ('MB  AFV Share', 251),
 ('BMW  AFV Share', 252),
 ('VW  AFV Share', 253),
 ('Subaru  AFV Share', 254),
 ('Volvo  AFV Share', 255),
 ('Fiat-Chrysler AFV Share', 256),
 ('Mitsubishi AFV Share', 257),
 ('Jaguar AFV Share', 258),
 ('Tesla  AFV Share', 259),
 (None, 260),
 (None, 261),
 (None, 262),
 (None, 263),
 (None, 264),
 (None, 265),
 (None, 266),
 (None, 267),
 (None, 268),
 (None, 269),
 (None, 270),
 (None, 271),
 (None, 272),
 (None, 273),
 (None, 274),
 (None, 275),
 (None, 276),
 (None, 277),
 (None, 278),
 (None, 279),
 (None, 280),
 (None, 281),
 (None, 282),
 (None, 283),
 (None, 284),
 (None, 285),
 (None, 286),
 (None, 287),
 (None, 288),
 (None, 289),
 (None, 290),
 (None, 291),
 (None, 292),
 (None, 293),
 (None, 294),
 (None, 295),
 (None, 296),
 (None, 297),
 (None, 298),
 (None, 299),
 (None, 300),
 (None, 301),
 (None, 302),
 (None, 303),
 (None, 304),
 (None, 305),
 (None, 306),
 (None, 307),
 (None, 308),
 (None, 309),
 (None, 310),
 (None, 311),
 (None, 312),
 (None, 313),
 (None, 314),
 (None, 315),
 (None, 316),
 (None, 317),
 (None, 318),
 (None, 319),
 (None, 320),
 (None, 321),
 (None, 322),
 (None, 323),
 (None, 324),
 (None, 325),
 (None, 326),
 (None, 327),
 (None, 328),
 (None, 329),
 (None, 330),
 (None, 331),
 (None, 332),
 (None, 333),
 (None, 334),
 (None, 335),
 (None, 336),
 (None, 337),
 (None, 338),
 (None, 339),
 (None, 340),
 (None, 341),
 (None, 342),
 (None, 343),
 (None, 344),
 (None, 345),
 (None, 346),
 (None, 347),
 (None, 348),
 (None, 349),
 (None, 350),
 (None, 351),
 (None, 352),
 (None, 353),
 (None, 354),
 (None, 355),
 (None, 356),
 (None, 357),
 (None, 358),
 (None, 359),
 (None, 360),
 (None, 361),
 (None, 362),
 (None, 363),
 (None, 364),
 (None, 365),
 (None, 366),
 (None, 367),
 (None, 368),
 (None, 369),
 (None, 370),
 (None, 371),
 (None, 372),
 (None, 373),
 (None, 374),
 (None, 375),
 (None, 376),
 (None, 377),
 (None, 378),
 (None, 379),
 (None, 380),
 (None, 381),
 (None, 382),
 (None, 383),
 (None, 384),
 (None, 385),
 (None, 386),
 (None, 387),
 (None, 388),
 (None, 389),
 (None, 390),
 (None, 391),
 (None, 392),
 (None, 393),
 (None, 394),
 (None, 395),
 (None, 396),
 (None, 397),
 (None, 398),
 (None, 399),
 (None, 400),
 (None, 401),
 (None, 402),
 (None, 403),
 (None, 404),
 (None, 405),
 (None, 406),
 (None, 407),
 (None, 408),
 (None, 409),
 (None, 410),
 (None, 411),
 (None, 412),
 (None, 413),
 (None, 414),
 (None, 415),
 (None, 416),
 (None, 417),
 (None, 418),
 (None, 419),
 (None, 420),
 (None, 421),
 (None, 422),
 (None, 423),
 (None, 424),
 (None, 425),
 (None, 426),
 (None, 427),
 (None, 428),
 (None, 429),
 (None, 430),
 (None, 431),
 (None, 432),
 (None, 433),
 (None, 434),
 (None, 435),
 (None, 436),
 (None, 437),
 (None, 438),
 (None, 439),
 (None, 440),
 (None, 441),
 (None, 442),
 (None, 443),
 (None, 444),
 (None, 445),
 (None, 446),
 (None, 447),
 (None, 448),
 (None, 449),
 (None, 450),
 (None, 451),
 (None, 452),
 (None, 453),
 (None, 454),
 (None, 455),
 (None, 456),
 (None, 457),
 (None, 458),
 (None, 459),
 (None, 460),
 (None, 461),
 (None, 462),
 (None, 463),
 (None, 464),
 (None, 465),
 (None, 466),
 (None, 467),
 (None, 468),
 (None, 469),
 (None, 470),
 (None, 471),
 (None, 472),
 (None, 473),
 (None, 474),
 (None, 475),
 (None, 476),
 (None, 477),
 (None, 478),
 (None, 479),
 (None, 480),
 (None, 481),
 (None, 482),
 (None, 483),
 (None, 484),
 (None, 485),
 (None, 486),
 (None, 487),
 (None, 488),
 (None, 489),
 (None, 490),
 (None, 491),
 (None, 492),
 (None, 493),
 (None, 494),
 (None, 495),
 (None, 496),
 (None, 497),
 (None, 498),
 (None, 499),
 (None, 500),
 (None, 501),
 (None, 502),
 (None, 503),
 (None, 504),
 (None, 505),
 (None, 506),
 (None, 507),
 (None, 508),
 (None, 509),
 (None, 510),
 (None, 511),
 (None, 512),
 (None, 513),
 (None, 514),
 (None, 515),
 (None, 516),
 (None, 517),
 (None, 518),
 (None, 519),
 (None, 520),
 (None, 521),
 (None, 522),
 (None, 523),
 (None, 524),
 (None, 525),
 (None, 526),
 (None, 527),
 (None, 528),
 (None, 529),
 (None, 530),
 (None, 531),
 (None, 532),
 (None, 533),
 (None, 534),
 (None, 535),
 (None, 536),
 (None, 537),
 (None, 538),
 (None, 539),
 (None, 540),
 (None, 541),
 (None, 542),
 (None, 543),
 (None, 544),
 (None, 545),
 (None, 546),
 (None, 547),
 (None, 548),
 (None, 549),
 (None, 550),
 (None, 551),
 (None, 552),
 (None, 553),
 (None, 554),
 (None, 555),
 (None, 556),
 (None, 557),
 (None, 558),
 (None, 559),
 (None, 560),
 (None, 561),
 (None, 562),
 (None, 563),
 (None, 564),
 (None, 565),
 (None, 566),
 (None, 567),
 (None, 568),
 (None, 569),
 (None, 570),
 (None, 571),
 (None, 572),
 (None, 573),
 (None, 574),
 (None, 575),
 (None, 576),
 (None, 577),
 (None, 578),
 (None, 579),
 (None, 580),
 (None, 581),
 (None, 582),
 (None, 583),
 (None, 584),
 (None, 585),
 (None, 586),
 (None, 587),
 (None, 588),
 (None, 589),
 (None, 590),
 (None, 591),
 (None, 592),
 (None, 593),
 (None, 594),
 (None, 595),
 (None, 596),
 (None, 597),
 (None, 598),
 (None, 599),
 (None, 600),
 (None, 601),
 (None, 602),
 (None, 603),
 (None, 604),
 (None, 605),
 (None, 606),
 (None, 607),
 (None, 608),
 (None, 609),
 (None, 610),
 (None, 611),
 (None, 612),
 (None, 613),
 (None, 614),
 (None, 615),
 (None, 616),
 (None, 617),
 (None, 618),
 (None, 619),
 (None, 620),
 (None, 621),
 (None, 622),
 (None, 623),
 (None, 624),
 (None, 625),
 (None, 626),
 (None, 627),
 (None, 628),
 (None, 629),
 (None, 630),
 (None, 631),
 (None, 632),
 (None, 633),
 (None, 634),
 (None, 635),
 (None, 636),
 (None, 637),
 (None, 638),
 (None, 639),
 (None, 640),
 (None, 641),
 (None, 642),
 (None, 643),
 (None, 644),
 (None, 645),
 (None, 646),
 (None, 647),
 (None, 648),
 (None, 649),
 (None, 650),
 (None, 651),
 (None, 652),
 (None, 653),
 (None, 654),
 (None, 655),
 (None, 656),
 (None, 657),
 (None, 658),
 (None, 659),
 (None, 660),
 (None, 661),
 (None, 662),
 (None, 663),
 (None, 664),
 (None, 665),
 (None, 666),
 (None, 667),
 (None, 668),
 (None, 669),
 (None, 670),
 (None, 671),
 (None, 672),
 (None, 673),
 (None, 674),
 (None, 675),
 (None, 676),
 (None, 677)]

In [65]:
list(set(from_new) - set(from_old))

[('MB GLC 350e Plug In', 168),
 ('BMW X5 XDrive40E', 172),
 ('Kia Niro', 143),
 ('Nissan Altima Hybrid', 125),
 ('MB B-Class Hybrid B250 e', 202),
 ('Subaru Crosstrek', 191),
 ('MB E-Class Hybrid', 132),
 ('Hyundai Kona', 213),
 ('BMW Combined Alt-Fuel Sales', 241),
 (None, 197),
 ('Honda Clarity EV', 201),
 ('Volvo XC90 Hybrid', 184),
 ('Hyundai Ioniq PHEV', 180),
 ('Lincoln MKZ Hybrid', 112),
 ('Chevy Malibu Hybrid/Eco', 119),
 ('MB ML Hybrid', 133),
 ('Nissan Combined Alt-Fuel Sales', 239),
 ('Kia Soul EV', 211),
 ('Nissan  AFV Share', 255),
 ('Chevy Tahoe Hybrid*', 118),
 ('Mitsubishi Outlander Plug-in', 189),
 ('BMW i3', 204),
 ('MB GLE 550 Plug-in Hybrid', 167),
 (None, 198),
 ('Mercury Mariner Hybrid', 108),
 ('Ford Fusion Hybrid', 110),
 ('Land Rover Range Rover Sport PHEV', 193),
 ('Volvo XC60 PHEV', 185),
 ('Mercury Milan Hybrid*', 109),
 ('BMW Active Hybrid 3', 135),
 ('Hyundai Sonata Hybrid', 140),
 ('Toyota AFV Total', 226),
 ('Mitsubishi Combined Alt-Fuel Sales', 246),
 ('Land Rover Range Rover PHEV', 192),
 (None, 195),
 ('Tesla  AFV Share', 264),
 ('Jaguar Combined Alt-Fuel Sales', 247),
 ('Lexus AFV Share', 230),
 ('Tesla Combined Alt-Fuel Sales', 248),
 ('Volvo V60 PHEV', 186),
 ('Nissan Rogue', 130),
 ('Audi E-Tron', 216),
 ('BMW 330e Plug In Hybrid', 170),
 ('Ford  AFV Share', 253),
 ('Toyota AFV Share', 249),
 ('VW Jetta Hybrid', 138),
 ('KIA Optima Hybrid', 142),
 ('Subaru Combined Alt-Fuel Sales', 243),
 ('MB S-Class Hybrid', 131),
 ('BMW X6 Hybrid', 134),
 ('Honda Accord Plug-in Hybrid', 158),
 ('BMW i8 Hybrid', 171),
 ('Ford C-Max Energi', 160),
 ('GM Combined Alt-Fuel Sales', 238),
 ('Mazda Tribute Hybrid*', 111),
 ('BMW 530e Plug-in Hybrid', 174),
 ('GMC Sierra Hybrid*', 120),
 ('Honda Fit EV', 200),
 ('Ford Fusion Energi', 161),
 (None, 221),
 ('MB C350e Plug-in Hybrid', 166),
 ('Rav4 EV', 199),
 ('KIA Optima Plug-in Hybrid', 182),
 ('Ford Combined Alt-Fuel Sales', 237),
 ('Nissan Leaf', 208),
 ('Volvo S60 PHEV', 187),
 ('Infiniti QX60 Hybrid', 128),
 ('Chevy Bolt EV', 205),
 ('Mitsubishi AFV Share', 262),
 ('Fiat 500e\n(estimated)', 210),
 ('Kia Niro Plug-in', 183),
 ('Lexus AFV Total', 229),
 ('Jaguar AFV Share', 263),
 (None, 222),
 ('VW  AFV Share', 258),
 ('Lexus Combined Alt-Fuel Sales', 234),
 ('VW e-Golf', 215),
 ('BMW 740 Series Hybrid', 175),
 ('Chevy Impala Hybrid', 117),
 ('Chevy Spark EV', 206),
 ('Toyota + Lexus Share', 232),
 ('Infiniti Q70 Hybrid (formerly M)', 126),
 ('Smart Electric Drive', 203),
 ('Honda Clarity Plug-in Hybrid', 159),
 ('BMW  AFV Share', 257),
 ('Hyundai Ioniq Hybrid', 141),
 ('MB S550e Plug-in Hybrid', 169),
 ('Porsche Cayenne SE', 178),
 ('Toyota AFV Share of Industry Sales', 228),
 ('Mini Countryman Hybrid', 173),
 ('Fiat Chrysler Combined Alt-Fuel Sales', 245),
 ('MB Combined Alt-Fuel Sales', 240),
 ('Porsche Panamera Hybrid/S E-Hybrid', 176),
 ('Honda  AFV Share', 251),
 ('Kia Niro EV', 212),
 ('Tesla Model X (estimated)', 220),
 ('VW Combined Alt-Fuel Sales', 242),
 ('All Alt Fuel Vehicles Sales', 225),
 ('Cadillac CT6 Plug-in Hybrid', 164),
 ('Hyundai Combined Alt-Fuel Sales', 236),
 ('Lincoln Aviator PHEV', 162),
 ('Hyundai Ioniq E', 214),
 ('Tesla Model 3 (estimated)', 219),
 ('Honda Combined Alt-Fuel Sales', 235),
 ('Volvo  AFV Share', 260),
 ('Audi A3', 177),
 (None, 224),
 ('Dodge Durango Hybrid*', 124),
 ('Lexus  AFV Share', 250),
 ('Subaru  AFV Share', 259),
 ('Cadillac ELR', 165),
 ('Porsche 918 Plug-in', 179),
 (None, 196),
 ('GM  AFV Share', 254),
 ('Nissan Pathfinder Hybrid', 129),
 ('Saturn Aura Hybrid**', 114),
 ('Jaguar I-Pace', 217),
 (None, 157),
 ('GMC Yukon Hybrid*', 122),
 (None, 223),
 ('Porsche Cayenne Hybrid', 137),
 ('Toyota Combined Alt-Fuel Sales', 233),
 ('Volvo Combined Alt-Fuel Sales', 244),
 ('Chevy Volt Plug-in Hybrid', 163),
 ('Fiat-Chrysler AFV Share', 261),
 ('Saturn Vue Hybrid', 113),
 ('Buick LaCrosse Hybrid', 115),
 ('Ford Explorer', 107),
 ('MB  AFV Share', 256),
 ('Hyundai  AFV Share', 252),
 ('Hyundai Sonata Plug-In Hybrid', 181),
 ('Toyota + Lexus AFV Total', 231),
 ('Cadillac Escalade Hybrid*', 123),
 ('Volvo S90 PHEV', 188),
 ('Chevy Silverado Hybrid*', 121),
 ('Toyota AVF Share of all AFV Sales', 227),
 (None, 194),
 ('Tesla Model S \n(estimated)', 218),
 ('Chrysler Pacifica', 190),
 ('Ford Focus Electric', 207),
 ('Mitsubishi i', 209),
 ('Buick Regal Hybrid', 116),
 ('VW Touareg Hybrid', 139),
 ('Infiniti Q50 Hybrid', 127),
 ('Audi Q5 Hybrid', 136)]

In [47]:
list(set(new_df[0]) - set(old_df[0]))

['Ford Explorer',
 'Land Rover Range Rover Sport PHEV',
 'Lincoln Aviator PHEV',
 'Land Rover Range Rover PHEV',
 'Subaru Crosstrek']

In [49]:
list(set(all_o['A4:ZA4'].value) - set(all_n['A4:ZA4'].value))

[]

In [26]:
set(all_o['A4:ZA4'].value) - set(all_n['A4:ZA4'].value)

set()